{% extends 'header.html'%}
{% block content %}
    <div class="inner-banner-w3ls">
    </div>

    <section class="wthree-row w3-gallery py-5">
		<div class="container py-xl-5">
			<div class="w3l_header text-center mb-sm-5 pb-3">
				<h3>Please answer this query</h3>
			</div>
			<div class="row">
				<h3>{{op}}</h3>
				<div class="col-md-8 offset-md-2">
					<form action="/checkingquestion" method="post">
						<div class="col-sm-10">
							<input type="hidden" class="form-control" name="rank" value="{{rank}}" placeholder="answer">
							Quseion : <input type="text" class="form-control" name="age" id="inputEmail3" value={{question}} readonly><br>
							Answer  : <input type="text" class="form-control" name="answer" id="answer" placeholder="answer"><br>
							<input type="submit" class="btn btn-succeess" name="submit" value="submit" >
						</div>
					</form>
				</div>
			</div>
		</div>
    </section>

{% endblock %}