{% extends 'header.html'%}
{% block content %}
    <!--<div class="inner-banner-w3ls">
    </div>-->

    <section class="wthree-row w3-gallery py-5">
		<div class="container py-xl-5">
			<div class="w3l_header mb-sm-5 pb-3">
                <h3 class="text-center">Recommended result</h3>
                <br>
                    <h5>Recommended job is <strong>{{job}}</strong></h5>
                <br>
				<br>
                    <h5>Recommended job from linked in skills is <strong>{{linkedininfo}}</strong></h5>
                <br>
				<br>
                    <h5>Personality identified From FB is  <strong>{{fbpersonality}}</strong></h5>
                
					Introversion (I)/Extroversion (I)<br>
					Intuition (N)/Sensing (S)<br>
					Thinking (T)/Feeling (F)<br>
					Judging (J)/Percieving (P)<br>
				<br>
				
                <table class="table table-bordered">
                <tbody>
                {% for i in data%}
                <tr>
                    <td>{{i}}</td>
                    {% if data[i] is not string  %}
                    <td>
                       {{data[i]}}
                    </td>
                    {% else %}
                    <td>{{data[i]}}</td>
                    {% endif %}
                </tr>
                {%endfor%}  
                </tbody>
                </table>              
			</div>
        </div>

    </section>

{% endblock %}