<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Company verification</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Startup Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!-- Custom-Files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{{ url_for('static', filename='css/font-awesome.min.css ')}}" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->
	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>
<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
					<!-- logo -->
					<div id="logo">
						<h1><a href="/home"><span class="fa fa-linode mr-2"></span>Company verification</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
<!--							<label for="drop" class="toggle"></label>-->
							<input type="checkbox" id="drop" />
							<ul class="menu">
<!--								<li><a href="index.html" class="active">Home</a></li>-->
<!--								<li><a href="about.html">About Us</a></li>-->
<!--								<li><a href="pricing.html">Pricing</a></li>-->
<!--								<li>-->
<!--									&lt;!&ndash; First Tier Drop Down &ndash;&gt;-->
<!--									<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>-->
<!--									</label>-->
<!--									<a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>-->
<!--									<input type="checkbox" id="drop-2" />-->
<!--									<ul>-->
<!--										<li><a href="#services" class="drop-text">Services</a></li>-->
<!--										<li><a href="faq.html" class="drop-text">Faq's</a></li>-->
<!--										<li><a href="404.html" class="drop-text">404</a></li>-->
<!--										<li><a href="#stats" class="drop-text">Statistics</a></li>-->
<!--										<li><a href="about.html" class="drop-text">Why Choose Us?</a></li>-->
<!--										<li><a href="about.html" class="drop-text">Our Team</a></li>-->
<!--										<li><a href="#partners" class="drop-text">Partners</a></li>-->
<!--									</ul>-->
<!--								</li>-->
<!--								<li><a href="contact.html">Contact Us</a></li>-->
							</ul>
						</nav>
					</div>
					<!-- //nav -->
					<div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center">
						<!-- search -->
						<div class="search-w3layouts mr-3">
								<a href="/logout"><button class="form-control btn" type="submit"><span class="fa fa-search">Logout</span></button></a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- //header -->
    {% block content%} {% endblock%}
	<!-- copyright bottom -->
	<div class="copy-bottom bg-li py-4 border-top">
		<div class="container-fluid">
			<div class="d-md-flex px-md-3 position-relative text-center">
				<!-- footer social icons -->
				<!-- //footer social icons -->
				<!-- copyright -->
				<div class="copy_right mx-md-auto mb-md-0 mb-3">
					<p class="text-bl let"> 2019 Startup. All rights reserved
						<a href="" target="_blank"></a>
					</p>
				</div>
				<!-- //copyright -->
				<!-- move top icon -->
				<a href="#home" class="move-top text-center">
					<span class="fa fa-level-up" aria-hidden="true"></span>
				</a>
				<!-- //move top icon -->
			</div>
		</div>
	</div>
	<!-- //copyright bottom -->
</body>
</html>