<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Company verification</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Startup Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!-- Custom-Files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}"  type="text/css" >
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{{ url_for('static', filename='css/font-awesome.min.css ')}}" rel="stylesheet"  type="text/css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->
	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>
<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
					<!-- logo -->
					<div id="logo">
						<h1><a href="/"><span class="fa fa-linode mr-2"></span>Company verification</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
<!--							<label for="drop" class="toggle">Menu</label>-->
							<input type="checkbox" id="drop" />
<!--							<ul class="menu">-->
<!--								<li><a href="index.html" class="active">Home</a></li>-->
<!--								<li><a href="about.html">About Us</a></li>-->
<!--								<li><a href="pricing.html">Pricing</a></li>-->
<!--								<li>-->
<!--									&lt;!&ndash; First Tier Drop Down &ndash;&gt;-->
<!--									<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>-->
<!--									</label>-->
<!--									<a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>-->
<!--									<input type="checkbox" id="drop-2" />-->
<!--									<ul>-->
<!--										<li><a href="#services" class="drop-text">Services</a></li>-->
<!--										<li><a href="faq.html" class="drop-text">Faq's</a></li>-->
<!--										<li><a href="404.html" class="drop-text">404</a></li>-->
<!--										<li><a href="#stats" class="drop-text">Statistics</a></li>-->
<!--										<li><a href="about.html" class="drop-text">Why Choose Us?</a></li>-->
<!--										<li><a href="about.html" class="drop-text">Our Team</a></li>-->
<!--										<li><a href="#partners" class="drop-text">Partners</a></li>-->
<!--									</ul>-->
<!--								</li>-->
<!--								<li><a href="contact.html">Contact Us</a></li>-->
<!--							</ul>-->
						</nav>
					</div>
					<!-- //nav -->
					<div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center">
						<!-- search -->
						<div class="search-w3layouts mr-3">
								<a href="/login"><button class="form-control btn" type="submit"><span class="fa fa-search">Login</span></button></a>
						</div>
						<div class="search-w3layouts mr-3">
								<a href="/register"><button class="form-control btn" type="submit"><span class="fa fa-search">Sign up</span></button></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- //header -->
		<!-- banner -->
		<div class="banner_w3lspvt position-relative">
			<div class="container">
				<div class="d-md-flex">
					<div class="w3ls_banner_txt">
						<h3 class="w3ls_pvt-title"></span></h3>
						<p class="text-sty-banner"></p>
						<a href="about.html" class="btn button-style mt-md-5 mt-4">Read More</a>
					</div>
					<div class="banner-img">
						<img src="{{url_for('static', filename='images/banner.png ')}}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<!-- animations effects -->
			<div class="icon-effects-w3l">
				<img src="{{url_for('static', filename='images/shape1.png')}}" alt="" class="img-fluid shape-wthree shape-w3-one">
				<img src="{{url_for('static', filename='images/shape2.png')}}" alt="" class="img-fluid shape-wthree shape-w3-two">
				<img src="{{url_for('static', filename='images/shape3.png')}}" alt="" class="img-fluid shape-wthree shape-w3-three">
				<img src="{{url_for('static', filename='images/shape4.png')}}" alt="" class="img-fluid shape-wthree shape-w3-four">
				<img src="{{url_for('static', filename='images/shape5.png')}}" alt="" class="img-fluid shape-wthree shape-w3-five">
				<img src="{{url_for('static', filename='images/shape6.png')}}" alt="" class="img-fluid shape-wthree shape-w3-six">
			</div>
			<!-- //animations effects -->
		</div>
		<!-- //banner -->
	</div>
	<!-- //main banner -->

	<!-- copyright bottom -->
	<div class="copy-bottom bg-li py-4 border-top">
		<div class="container-fluid">
			<div class="d-md-flex px-md-3 position-relative text-center">
				<!-- footer social icons -->
				<div class="social-icons-footer mb-md-0 mb-3">
					<ul class="list-unstyled">
						<li>
							<a href="#">
								<span class="fa fa-facebook"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-twitter"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-google-plus"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-instagram"></span>
							</a>
						</li>
					</ul>
				</div>
				<!-- //footer social icons -->
				<!-- copyright -->
				<div class="copy_right mx-md-auto mb-md-0 mb-3">
					<p class="text-bl let">© 2019 Startup. All rights reserved

					</p>
				</div>
				<!-- //copyright -->
				<!-- move top icon -->
				<a href="#home" class="move-top text-center">
					<span class="fa fa-level-up" aria-hidden="true"></span>
				</a>
				<!-- //move top icon -->
			</div>
		</div>
	</div>
	<!-- //copyright bottom -->

</body>

</html>